/* You can add global styles to this file, and also import other style files */
@import '../node_modules/weathericons/css/weather-icons.css';
@import '../node_modules/weathericons/css/weather-icons-wind.css';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/css/fontawesome.css';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-regular.css';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-solid.css';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-brands.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0px;
  padding: 0;
  color: #455a64;
  font-family: "Arial" !important;
  font-size: 0.9em !important;
  font-weight: normal;
  line-height: 1.3;
  background-color: #fff;
}

/************* MAT CARD *************/

.mat-card {
  border-radius: 6px !important;
  margin: 10px !important;
}

/************* FIN  MAT CARD *************/
